html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
.pagewrapper{
  overflow-x: hidden;
}
.splide__pagination{
  display: none;
}
::-moz-selection { /* Code for Firefox */
  color: #1a1a1a;
  background: #d23503;
}

::selection {
  color: #1a1a1a;
  background: #d23503;
}